<div id="options" style="position:fixed; z-index: 100; background:rgba(40,40,40,0.85) ; height: 100%; width: 100%; color: white;"> 
    <div id="op_container" style="position: absolute;top: 50%;
            transform: translateY(-50%);background:rgba(20,20,20,0.65); padding-top: 3em; padding-bottom: 3em; width: 100%">
        <div style="margin: auto auto;max-width: 75%">
            
            <h2 style="color:white;">Save new stage scale</h2><span>Please mark bellow the actual distance in Meters between the marked points:</span><br><br>
            <form>
            <input #box id="save" type="number" min="0.01" step="0.01" placeholder="Meters"><br>
            <button *ngIf="box.value" (click)="mapScale(box.value)" style="margin-top: 4em; margin-right: 2em;" class="button special small">Save</button>
            <button (click)="exit()" style="color: white;margin-top: 4em" class="button small">Cancel</button>
            </form>
            
        </div>
    </div>
</div>